.menu{
    @extend %flex-jstbetw;
    background-color: $c-quest;
    border-radius: 0 0 20px 20px;
    box-shadow: -2px 6px 11px 2px #00000033;
    padding: 10px;
    height: 3em;
    width: 90%;

    &-user{
        width: 10%;
    }

    &-button{
        @extend %flex-center;
        background-color: $c-menu-elements;
        border: none;
        border-radius: 30px;
        box-shadow: $v-shadow-menu;
        padding: 0;
        height: 55px;
        width: 55px;

        @include small{
            height: 52px;
            width: 52px;
        }

        &-Svg{
            fill: $c-fonticon;
            height: 48px;
            width: 48px;
        }
    }

    &-title{
        @include fontInsert(1.4, 800);
        color: $c-fonticon;
        display: block;
        padding: .5em;
        text-transform: uppercase;
        text-shadow: 3px 3px 0px $c-menu-elements,
            -1px -1px 0px $c-menu-elements, 
            1px -1px 0px $c-menu-elements, 
            -1px 1px 0px $c-menu-elements,
            1px 1px 0px $c-menu-elements;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 8.5em;

        @include small{
            @include fontInsert(1.2, 800);
            height: 2em;
            width: 4.5em;
            left: 0;
            transform: none;
            text-align: left;
            position: relative;
        }
    }

    &-score{
        @extend %flex-center;        
    }

    &-scoreSvg{
        fill: $c-score;
        position: relative;
        right: -25px;
        filter: drop-shadow(1px 3px 3px #0000006e);

        &--border{
            stroke: $c-menu-elements;
            path{
                stroke-width: 1.5;
            }
        }
    }
    
    &-scoreBoard{
        @include fontInsert(1.1, 800);
        background-color: $c-score;
        border: 4px solid $c-menu-elements;
        box-shadow: $v-shadow-menu;
        border-radius: 19px;
        color: $c-fonticon;
        padding: 0.2em 0.5em;
        text-align: right;
        text-shadow: 3px 3px 0px $c-menu-elements,
            -1px -1px 0px $c-menu-elements, 
            1px -1px 0px $c-menu-elements, 
            -1px 1px 0px $c-menu-elements,
            1px 1px 0px $c-menu-elements;
        height: 18px;
        width: 58px;
    }
}	
    
